ID_1 ID_2 missing
0 0 0
ANSK01 ANSK01 0
ANSK7 ANSK7 0
ANSK8 ANSK8 0
Alca_torda Alca_torda 0
CHSK_MKP2451 CHSK_MKP2451 0
CISK2 CISK2 0
CISK_3 CISK_3 0
CISK55 CISK55 0
Fratercula_arctica Fratercula_arctica 0
GRSK_MKP1592 GRSK_MKP1592 0
GRSK_MKP1593 GRSK_MKP1593 0
LTJA_MKP990 LTJA_MKP990 0
PAJA_B20730 PAJA_B20730 0
PAJA_USNM606730 PAJA_USNM606730 0
POJA_4 POJA_4 0
POJA_IB2659 POJA_IB2659 0
POJA_MKP1559 POJA_MKP1559 0
Uria_lomvia Uria_lomvia 0
