
2_Phylogeny/2.6c_Starbeast3_phylogeny/run*/starbeast3.100MILL.log.gz
2_Phylogeny/2.6c_Starbeast3_phylogeny/16runs.100MILL.50k.log.gz
1_Data/*.zip
2_Phylogeny/*.zip
3*/*.zip
0*/Stercorarius*.ref.fa.gz